[Unit]
Description=Coin Gecko Prices Service
After=syslog.target network.target

[Service]
Environment=NODE_ENV=production
WorkingDirectory=/home/deploy/move.validators.app/current/js/daemons
ExecStart=/usr/bin/node /home/deploy/move.validators.app/current/js/daemons/coin-gecko-prices.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=coin-gecko-prices

[Install]
WantedBy=multi-user.target