@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *,
    ::backdrop,
    :after,
    :before {
        --tw-ring-color: #3abab4 !important;
    }
}

input, select {
    @apply border border-gray-300 !important;
    @apply rounded-md;
    @apply px-4 !important;
    @apply py-2 !important;
}

.dark input, .dark select {
    @apply bg-gray-800 !important;
    @apply text-gray-300 !important;
    @apply border border-gray-600 !important;
}

input:focus, select:focus {
    @apply outline-none !important;
    @apply border-gray-400 !important;
}

.border-b {
    @apply border-gray-400 !important;
    @apply dark:border-gray-600 !important;
    border-bottom-width: 0.25px !important;
    border-top-width: 0 !important;
}

.primary-hover-bg:hover {
    @apply bg-gray-100 !important;
}

.dark .primary-hover-bg:hover {
    @apply bg-gray-600 !important;
}

.btn {
    @apply rounded-md;
    @apply bg-primary;
    @apply px-2.5;
    @apply py-1.5;
    @apply text-sm;
    @apply font-semibold;
    @apply text-white;
    @apply shadow-sm;
    /*@apply hover:bg-primary-500;*/
    @apply focus-visible:outline;
    @apply focus-visible:outline-2;
    @apply focus-visible:outline-offset-2;
    @apply focus-visible:outline-primary;
}

.btn-sm {
    @apply px-2 !important;
    @apply py-1 !important;
}

.bg-green {
    background-color: #2A8D88;
}

#hover-info {
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.w-38 {
    width: 9.5rem;
}

.w-42 {
    width: 10.5rem;
}
