@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *,
    ::backdrop,
    :after,
    :before {
        --tw-ring-color: #3abab4 !important;
    }
}

input {
    @apply border border-gray-300 !important;
    @apply rounded-md;
    @apply px-4 !important;
    @apply py-2 !important;
}

.dark input {
    @apply bg-gray-800 !important;
    @apply text-gray-300 !important;
    @apply border border-gray-600 !important;
}

input:focus {
    @apply outline-none !important;
    @apply border-gray-400 !important;
}

.border-b {
    @apply border-gray-400 !important;
    @apply dark:border-gray-600 !important;
    border-bottom-width: 0.25px !important;
    border-top-width: 0 !important;
}

.primary-hover-bg:hover {
    @apply bg-gray-100 !important;
}

.dark .primary-hover-bg:hover {
    @apply bg-gray-600 !important;
}
