<div class="bg-white rounded-lg shadow p-6 dark:bg-gray-700">
  <div data-controller="balance-rewards-chart"
       data-balance-rewards-chart-address-value="<%= validator.address %>">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-lg font-semibold"><%= t('balance_vs_rewards') %></h2>
      <select
        data-balance-rewards-chart-target="timeRange"
        data-action="change->balance-rewards-chart#updateTimeRange"
        class="bg-white border border-gray-300 rounded-md py-1 px-3 text-sm dark:bg-gray-600 dark:border-gray-500 dark:text-gray-200 w-42"
      >
        <%# Options will be populated by JavaScript %>
      </select>
    </div>
    <div>
      <canvas data-balance-rewards-chart-target="chart" class="h-64"></canvas>
    </div>
  </div>
</div>