<div class="bg-white rounded-lg shadow p-6  dark:bg-gray-700">
  <h2 class="text-lg font-semibold mb-4"><%= t('balance_vs_rewards') %></h2>
  <div data-controller="analytics--balance-rewards-chart">
    <canvas data-analytics--balance-rewards-chart-target="chart" class="h-64"></canvas>
  </div>
</div>