<div class="bg-white rounded-lg shadow p-6 dark:bg-gray-700">
  <h2 class="text-lg font-semibold mb-4">Block Production</h2>
  <div data-controller="analytics--block-production-chart"
       data-analytics--block-production-chart-address-value="<%= validator.address %>"
  >
    <canvas data-analytics--block-production-chart-target="chart" class="h-64"></canvas>
  </div>
</div>