<div class="bg-white rounded-lg shadow p-6 dark:bg-gray-700">
  <h2 class="text-lg font-semibold mb-4"><%= t('voting_participation') %></h2>
  <div data-controller="voting-participation-chart">
    <canvas data-voting-participation-chart-target="chart" class="h-64"></canvas>
  </div>
</div>